*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: #fff;
    color: #666;
    font-family: monospace, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 16px;
  }
  #pagewrap{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  /* main header */
  
  #main, nav, section, footer{
    margin: 1%;
  }
  
  #main{
    width: 100%;
    height: auto;
    margin: 0 auto 2% auto;
    background-image: url(imgs/firewatch-pixelated.png);
    background-size: cover;
    background-position: 50% 20%;
    padding-top: 50vh;
    padding-bottom: 50vh;
  }
  
  #main h1{
    text-align: center;
    font-size: 3em;
  }
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
    background-color: #222;
  }
  
  nav ul{
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li{
    display: inline-block;
    text-align: center;
    padding: 20px;
    height: 2%;
  }
  
  nav ul li a{
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  /* an underline appears at the bottom on hover of each link */
  nav ul li a:hover, nav ul li a:active{
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
  }

  .left-section{

    width: auto; /* 455/960*/
    height: auto;
    padding: 20px;
    line-height: 1.8;
    text-align: center;
    display: block;
  }
  
  .left-section h3{
    text-align: center;
    padding: 15px;
  }